*{
  font-family: Monaco;
}

body {
  background-color: #EDEFEE;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 3rem;
}

#about-heading, #book-heading {
  text-align: center;
}

h2 {
  font-size: 2rem;
}

header img {
  display: block;
  margin: 70px auto;
  width: 300px;

}

nav ul {
  background-color: #495E57;
  border-radius: 15px;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 10px 20px;
}

nav li a {
  color: #a8d600e0;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 20px;
}

nav li a:hover {
  background-color: #789900e0;
  color: #EDEFEE;
  border-radius: 15px;
  transition: 0.5s;
}


section {
  display: flex;
  gap: 20px;
  margin: 40px auto;
}

#banner {
  position: relative;
  height: 200px;
  border-radius: 10px;
}

#banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
}

#banner div {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #fff;
}

#banner::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #30303085;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

#banner h1 {
  font-size: 25px;
}

article {
  flex: 1;
}

#section2 article {
  background-color: #495E57;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

#section2 h2 {
  font-size: 20px;
  text-align: left;
}

#section2 p {
  padding: 10px;
}

#section2 a {
  color: #fff;
  display: block;
  text-align: center;
}

#section2 img {
  width: 100%;
  object-fit: cover;
  background-position: center center;
}

#section2 p span {
  margin-left: 30%;
  display: block;
  text-align: start;
}

footer {
  display: flex;
  align-items: flex-start;
}

footer img {
  width: 50px;
}

footer div {
  flex: 1;
}

footer div:last-of-type {
  text-align: end;
  border-top: 2px solid #495E57;
  font-size: 13px;
  margin-top: 15px;
}

footer div:last-of-type p {
  margin: 0;
}

/* Styles for menu */

.menu, .ll{
  text-align: center;
  color:#FA9F42;
}

.ll{
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #495E57;
}

.menu-container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  background-color:#E0E0E2;
}

.section {
  padding: 10px;
}

.label {
  font-weight: bold;
}

.description {
  font-style: italic;
  border-top: 2px solid #495E57;
}
.item-name {
  margin: 25px;
  font-size: 12px;
}
b {
  float: right;
  margin-top: -15px;
  color: darkcyan;
}
div>h3 {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  color: #495E57;
}
.label + .low {
  color: brown;
}

div ~ div {
  color: rgb(90,90,90);
}

/* Styles for book-ing */

form div:last-of-type label {
  padding: 15px;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  display: inline-block;
  margin-left: -70px;
  border: 1px solid red;
}

form label, form input, button{
  display: block;
  width: 40%;
  padding: 5px;
  margin: 0 auto;
}


